*{
    background-color: blueviolet;
}


p{
    font-size: 480px;
    height: fit-content;
    width: fit-content;
    color: rgb(49, 5, 90);
    text-shadow: 0 10px 10px aquamarine;
    margin: auto;
    text-align: center;
    top: -50px;
    position: relative;
    cursor: pointer;
}

p:hover{
    text-shadow: 0 10px 10px rgb(255, 127, 197);

    color:aquamarine;
    
}

.click{
    font-size: 25px;    
    color: rgb(90, 18, 5);
    height: fit-content;
    width: fit-content;
    text-shadow: 0 5px 10px aquamarine;
    margin: auto;
    text-align: center;
    align-items: center;
    top: -100px;
    position: relative;
    display: flex;
    
}